body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 10px 50px;
  width: 100%;
  height: auto;
}

h1 {
  color: #0d6efd;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  color: #ff0000;
  margin-bottom: 20px;
  text-align: left;
}

h5 {
  color: #333;
  text-align: left;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.markdown-content {
  text-align: left;
}

.markdown-content img {
  width: 30%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.question-block {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.option-block {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.option-block input {
  margin-right: 10px;
}

.image-block {
  margin-top: 10px;
  text-align: center;
}

.timer {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  background-color: #0d6efd;
  color: white;
  border: none;
  display: block;
  outline: none;
  margin: 30px auto;
}

.submit-button:hover {
  background-color: #45a049;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dff0d8;
  padding: 15px 30px;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  z-index: 1000;
  font-size: 1.2em;
  text-align: center;
}
