body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 10px 50px;
  width: 100%;
  height: auto;
}

h1 {
  color: #0d6efd;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.markdown-content {
  text-align: left;
}

.markdown-content img {
  width: 30%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dff0d8;
  padding: 15px 30px;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  z-index: 1000;
  font-size: 1.2em;
  text-align: center;
}
