/* QuizResult.css */
.result-container {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px auto;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #0d6efd 1px solid;
}

.result-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #0d6efd;
}

.result-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; 
}

.result-container p {
  font-size: 18px;
  margin-bottom: 8px;
}

.result-container a {
  font-size: 16px;
  color: #007bff; 
  text-decoration: none;
}

.result-container a:hover {
  text-decoration: underline; 
}

.congratulations-message {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.logout-button:hover {
  background-color: #c82333;
}
