.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.question-block {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.option-block {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.option-block input {
  margin-right: 10px;
}

.image-block {
  margin-top: 10px;
  text-align: center;
}

.timer {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  background-color: #0d6efd;
  color: white;
  border: none;
  display: block;
  outline: none;
  margin: 30px auto;
}

.submit-button:hover {
  background-color: #45a049;
}

